USE [master]
GO
/****** Object:  Database [dbMovies]    Script Date: 11/06/2023 20:52:20 ******/
CREATE DATABASE [dbMovies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMovies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbMovies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbMovies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbMovies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMovies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMovies]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 11/06/2023 20:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[director] [nvarchar](50) NOT NULL,
	[genre] [nvarchar](50) NOT NULL,
	[length] [int] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[image] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/06/2023 20:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[uid] [nvarchar](50) NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [name], [director], [genre], [length], [description], [image]) VALUES (1, N'a', N'milo', N'punkcrock', 544, N'asdasdad', N'www.gggg.gggg')
INSERT [dbo].[movies] ([id], [name], [director], [genre], [length], [description], [image]) VALUES (2, N'aa', N'222asdasd', N'babasd', 544, N'asdasdad', N'www.gggg.gggg')
INSERT [dbo].[movies] ([id], [name], [director], [genre], [length], [description], [image]) VALUES (3, N'aaa', N'milo', N'asswipe', 544, N'asdasdad', N'www.gggg.gggg')
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'111111111', N'admin', N'admin', N'admin@admin.admin', N'11111')
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'111111112', N'admin', N'admin', N'admin@admin.admin', N'11111')
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'111111113', N'Adi', N'Perevitsky', N'peadi9@gmail.com', N'11111')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users]    Script Date: 11/06/2023 20:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_users] ON [dbo].[users]
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
