USE [master]
GO
/****** Object:  Database [dbMovies]    Script Date: 02/07/2023 18:16:44 ******/
CREATE DATABASE [dbMovies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMovies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbMovies.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbMovies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbMovies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMovies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMovies]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 02/07/2023 18:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[gid] [int] NOT NULL,
	[gname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_genres] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[director] [nvarchar](50) NOT NULL,
	[length] [int] NOT NULL,
	[description] [nvarchar](300) NOT NULL,
	[image] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies_genres]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies_genres](
	[mid] [int] NOT NULL,
	[gid] [int] NOT NULL,
	[m_gid] [int] IDENTITY(41,1) NOT NULL,
 CONSTRAINT [PK_movies_genres] PRIMARY KEY CLUSTERED 
(
	[m_gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[oid] [int] IDENTITY(1000,1) NOT NULL,
	[mid] [int] NULL,
	[uid] [nvarchar](50) NULL,
	[date] [date] NULL,
	[tickets] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[uid] [nvarchar](50) NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[genres] ([gid], [gname]) VALUES (1, N'Action')
INSERT [dbo].[genres] ([gid], [gname]) VALUES (2, N'Drama')
INSERT [dbo].[genres] ([gid], [gname]) VALUES (3, N'Comedy')
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [name], [director], [length], [description], [image]) VALUES (1, N'The Godfather: Part II', N'Francis Ford Coppola', 202, N'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.', N'The Godfather Part II.jpg')
INSERT [dbo].[movies] ([id], [name], [director], [length], [description], [image]) VALUES (2, N'The Silence of the Lambs', N'Jonathan Demme', 118, N'A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.', N'The Silence of the Lambs.jpg')
INSERT [dbo].[movies] ([id], [name], [director], [length], [description], [image]) VALUES (4, N'The Green Mile', N'Frank Darabont', 189, N'The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.', N'The Green Mile.jpg')
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[movies_genres] ON 

INSERT [dbo].[movies_genres] ([mid], [gid], [m_gid]) VALUES (1, 2, 1)
INSERT [dbo].[movies_genres] ([mid], [gid], [m_gid]) VALUES (1, 9, 2)
INSERT [dbo].[movies_genres] ([mid], [gid], [m_gid]) VALUES (2, 2, 3)
SET IDENTITY_INSERT [dbo].[movies_genres] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([oid], [mid], [uid], [date], [tickets]) VALUES (5033, 2, N'111111111', CAST(N'2022-10-12' AS Date), 3)
INSERT [dbo].[orders] ([oid], [mid], [uid], [date], [tickets]) VALUES (5035, 2, N'111111111', CAST(N'2022-10-12' AS Date), 3)
INSERT [dbo].[orders] ([oid], [mid], [uid], [date], [tickets]) VALUES (5038, 9, N'888888888', CAST(N'2023-06-28' AS Date), 3)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'011111111', N'admina', N'admina', N'admin@admin.adminaaa', N'11111')
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'111111111', N'admin', N'admin', N'admin@admin.admin', N'11111')
INSERT [dbo].[users] ([uid], [fname], [lname], [email], [password]) VALUES (N'111111113', N'Adi', N'Perevitsky', N'peadi9@gmail.com', N'11111')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_USER]    Script Date: 02/07/2023 18:16:45 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UC_USER] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users]    Script Date: 02/07/2023 18:16:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_users] ON [dbo].[users]
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movies_genres]  WITH CHECK ADD  CONSTRAINT [FK_movies_genres_genres] FOREIGN KEY([gid])
REFERENCES [dbo].[genres] ([gid])
GO
ALTER TABLE [dbo].[movies_genres] CHECK CONSTRAINT [FK_movies_genres_genres]
GO
ALTER TABLE [dbo].[movies_genres]  WITH CHECK ADD  CONSTRAINT [FK_movies_genres_movies] FOREIGN KEY([mid])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[movies_genres] CHECK CONSTRAINT [FK_movies_genres_movies]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_movies] FOREIGN KEY([mid])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_movies]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([uid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
/****** Object:  StoredProcedure [dbo].[movie_genres]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[movie_genres]
as
select movies.name as movie_name, genres.gname as genres from movies
join movies_genres on movies.id=movies_genres.mid
join genres on genres.gid=movies_genres.gid
GO
/****** Object:  StoredProcedure [dbo].[movie_genres1]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[movie_genres1]
as
select movies.name as movie_name, string_agg(genres.gname, ', ') as genres from movies
join movies_genres on movies.id=movies_genres.mid
join genres on genres.gid=movies_genres.gid
group by movies.name

GO
/****** Object:  StoredProcedure [dbo].[moviesWithGenres]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[moviesWithGenres]
as
select movies.id,  movies.name, movies.director,string_agg(genres.gname, ', ') as genre, movies.length, movies.description,movies.image
from movies
join movies_genres on movies.id=movies_genres.mid
join genres on genres.gid=movies_genres.gid
group by movies.name, movies.length,movies.id,movies.description,movies.director,movies.image
GO
/****** Object:  StoredProcedure [dbo].[Orderdetails]    Script Date: 02/07/2023 18:16:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Orderdetails]
as
select orders.oid, orders.mid, movies.name as movie_name,(users.fname +' '+users.lname) as full_name, orders.uid, orders.date,orders.tickets from orders
join movies on orders.mid=movies.id
join users on users.uid=orders.uid
GO
USE [master]
GO
